.container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  mat-list{
    height: 100%;
    min-width: 300px;
    overflow: auto;
    mat-list-item{
      height: auto;
      .date-info{
        display: flex;
        justify-content: space-between;
      }
    }
    .isSolarEvent{
      color: #1976d2;
    }
    .isLunarEvent{
      color: #d32f2f;
    }
    .is-passed{
      opacity: .35;
    }
  }
}