.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  mat-list {
    height: 100%;
    overflow: auto;

    mat-list-item {
      height: auto;
      padding: 10px 16px;

      .date-info {
        display: flex;
        justify-content: space-between;
      }
    }

    mat-list-item:hover {
      background-color: #f5f5f5;
      cursor: pointer;
    }

    .isSolarEvent {
      color: #1976d2;
    }

    .isLunarEvent {
      color: #d32f2f;
    }

    .is-passed {
      opacity: .35;
    }

    div[matListItemTitle] {
      display: flex;
      align-items: center;

    }

    ::ng-deep [matListItemTitle]::before,
    ::ng-deep [matListItemTitle]::after {
      display: none !important;
      content: none !important;
    }
  }
}