<div class="container">
  <mat-list>
    @for (event of eventsWithDate; track $index) {
    <mat-list-item [class.is-passed]="event.isPassed" #eventItem (click)="goToEventCalendar(event)">
      <div matListItemTitle [ngClass]="event.isLunar ? 'isLunarEvent' : 'isSolarEvent'">
        <strong>
          {{ event.title }}
        </strong>
        @if (event.isNoticeable) {
        <mat-icon>notifications</mat-icon>
        }

      </div>
      <div matListItemLine>
        <div class="date-info">
          <span>Dương lịch: {{ event.solarDay | zeroPrefix }}/{{ event.solarMonth | zeroPrefix }}</span>
          <span>Âm lịch: {{ event.lunarDay | zeroPrefix }}/{{ event.lunarMonth | zeroPrefix }}</span>
        </div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    }
  </mat-list>
</div>