<div class="container">
  <mat-toolbar>
    <button mat-icon-button [mat-dialog-close]>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <span>{{ data.name }}</span>
  </mat-toolbar>
  <div mat-dialog-content>
    <swiper-container init="false" #swiper>
      @for (gallery of data.medias; track $index) {
      <swiper-slide>
        <div class="slide-container">
          <button matButton="filled" class="share-button" (click)="share(data)">
            Chia sẻ
            <mat-icon>share</mat-icon>
          </button>
          @if (gallery.type.includes('video')) {
          <video muted playsinline controls preload>
            <source [src]="gallery.url" type="video/webm; codecs=vp9">
            <source [src]="gallery.url" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          }@else {
          <pinch-zoom [autoHeight]="true" style="height: 100%; width: 100%;" (zoomChanged)="onZoom($event)">
            <img [src]="gallery.url" alt="">
          </pinch-zoom>
          }
        </div>
      </swiper-slide>
      }
    </swiper-container>
  </div>
</div>