.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
  
  mat-card {
    // width: calc(25%);
    height: 100%;
  
    .album-image-container {
      aspect-ratio: 16 / 9;
      width: 100%;
      overflow: hidden;
      background: #f0f0f0;
      display: block;
    }
  
    .album-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
    }
  }
}

@media screen and (max-width: 1080px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 720px ) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}